#nav-currency{
    background-color: var(--green);
}

#nav-currency a{
    color: var(--yellow);
    text-decoration: none;
}

#nav-currency .name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

#nav-currency .value{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

#nav-currency .date{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: .8rem;
}